h1 {
	color: rgb(2,132,130);
}

h2 {
	color: #ffd700;
}


.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card {
	height: 200px;
	width: 150px;
	border-color: rgb(0,0,0);
	border-width: 1px;
	border-radius: 10px;
	background-color:#ffff00;
	float: left;
	margin: 8%;	
}

span {
	color:#ff0000;
}

body {
	text-align: center;
}

nav {
	background-color: #808080;
}

a{
	text-decoration: none;
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;

}

.clearfix:after {
	    visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}

footer{
	background-color: #808080;
}



